@media only screen and (max-width: 600px)  {
    
    .navigation{
        text-align: center;
    }

    nav{
       justify-content: center;
    }

    .hero{
        align-items: center;
    }

    .container p{
        padding: 0 1rem;
    }

    .project-description{
        width: 80%;
    }

    .links-container{
       flex-direction: column;
       align-items: center;
       margin-top: 8%;
    }

    .links-container div:nth-child(-n+2){
        margin-bottom: 50px;
    }

    .links-container div:nth-child(-n+2):after{
        content: "";
        margin: 0;
    }
}